.header{
    display: grid;
    grid-template-columns: 10px 30% 40px 40px auto;
    grid-gap: 30px;
    background: #dddddd;
    padding: 10px;
    border-bottom: 1px #7c7c7c dotted;
    font-weight: bold;
}