<kendo-grid [rowClass]="rowCallback"  [data]="gridData">
        <kendo-grid-column  field="ProductID" title="ID" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Price" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" title="In stock" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="DeliveryOn" title="Delivery On" width="210">
        </kendo-grid-column>
            
        
    </kendo-grid>